.task{
  position: absolute;
  background-color: rgba(0, 136, 255, 0.5);
  border-left: 2px solid rgba(0, 32, 65, 0.5);
  font-size: 14px;
  white-space: nowrap; 
  overflow: hidden;
  text-overflow: ellipsis;
}