.schedule{
  list-style: none;
  display: inline-block;
  width: 245px;
}

.schedule li{
height: 60px;
}

.schedule li hr{
border-width: 1px;
}

.schedule li div{
font-weight: 200;
font-size: 16px;
margin-bottom: 6.4px;
}

.schedule li :nth-child(3n){
font-size: 12px;
margin-bottom: 14px;
}